<div class="container">
    <div class="row">
        <div class="col one">
            <p>Profile Viewed</p>
            <h3>456k</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/eye1.svg" alt="">
        </div>
        <div class="col one">
            <p>Unread Messages</p>
            <h3>28</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/ic_chat.svg" alt="">
        </div>
        <div class="col one">
            <p>Application Sent</p>
            <h3>651</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/suitcase1.svg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col one">
            <p>App.Answered</p>
            <h3>24</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/reply1.svg" alt="">
        </div>
        <div class="col one">
            <p>Interviewed</p>
            <h3>261</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/calendar-silhouette.svg" alt="">
        </div>
        <div class="col one">
            <p>Hired</p>
            <h3>69</h3>
            <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/telephone1.svg" alt="">
        </div>
    </div>
    <div class="row">
       
            <div class="col-4 two">
            <h4>Profile Strength</h4>
            <div class="con">
                <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="forth"></div>
            </div>

        <img class="img-one" src="https://qerza.dexignzone.com/angular/demo/assets/images/svg/dot1.svg" alt="">
        <p class="p-one">Application Sent </p>
        <p class="p-two">30%</p>

        <img class="img-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/svg/dot2.svg" alt="">
        <p class="p-three">Application Answered </p>
        <p class="p-four">46%</p>

        <img class="img-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/svg/dot3.svg" alt="">
        <p class="p-five">Hired</p>
        <p class="p-six">14%</p>

        <img class="img-four" src="https://qerza.dexignzone.com/angular/demo/assets/images/svg/dot4.svg" alt="">
        <p class="p-seven">Pending</p>
        <p class="p-eight">10%</p>
         
            </div>
            <div class="col-8-md three">
                <h4>Visitor Graph</h4>
               
            </div>
    </div>
</div>
