<div class="container">
    <div class="row">
      <div class="col">
        <h3>Dashboard</h3>
      </div>
      <div class="col">
  
      </div>
      <div class="col">
       
      </div>
      <div class="col">
        <input class="input" type="text" placeholder="Search here...">
      </div>
      <div class="col">   
      <h5>David Heree</h5> <br>
      <p class="p">Super Admin</p> 
    </div>
    <div class="col">
      <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/profile/17.jpg" alt="">

    </div>
    </div>
    <div class="row">
      <div class="col">
       <div class="storage">
        <div class="first">
          <p class="number-a"> 43 </p>
          <p class="inside-a"> Application Sent </p>
          </div>
      
          <div class="second"> 
              <p class="number-b"> 27 </p>
           <p class="inside-b"> interview Schedule </p>
          </div>
       </div> 
      </div>
    </div>

    <div class="row">
      <div class="third">
        <p class="number-c"> 52k </p>
       <p class="inside-c"> Profile viewed </p>

    </div>
    </div>
    <div class="row">
      <div class="vacancy">
        <P class="stats">Vacancy Stats</P>
    </div>
    </div>

  </div>