<div class="container">
    <div class="row">
      <div class="col">
        <h3>Dashboard</h3>
      </div>
      <div class="col">
  
      </div>
      <div class="col">
       
      </div>
      <div class="col">
        <input class="input" type="text" placeholder="Search here...">
      </div>
      <div class="col">   
      <h5>David Heree</h5> <br>
      <p class="p">Super Admin</p> 
    </div>
    <div class="col">
      <img class="image" src="https://qerza.dexignzone.com/angular/demo/assets/images/profile/17.jpg" alt="">

    </div>
    </div>
    <div class="row">
      <div class="col">
       <div class="storage">
        <div class="first">
          <p class="number-a"> 43 </p>
          <p class="inside-a"> Application Sent </p>
          </div>
      
          <div class="second"> 
              <p class="number-b"> 27 </p>
           <p class="inside-b"> interview Schedule </p>
          </div>
       </div> 
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="third">
          <p class="number-c"> 52k </p>
         <p class="inside-c"> Profile viewed </p>
  
      </div>
      </div>
      </div>
      
    <div class="row">
      <div class="vacancy">
        <P class="stats">Vacancy Stats</P>
        
    </div>
    </div>
    
<!--  Recommended jobs  -->

    <div class="row">
      <p class="one">Recommended Jobs</p>
<div class="cont-one">
    <img class="image-one" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/4.svg" alt="">
    <p class="fir">  Senior UX Designer  </p>
    <p class="sec">Inacyx Studios</p>
    <p class="thi">$21,000 - $25,000 <br> Manchester,England <br> FREELANCE-PART TIME</p>
    <p class="follow-one">+Follow</p>
</div>

<div class="cont-two">
    <img class="image-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/3.svg" alt="">
    <p class="fourth">  Freelance UI Designer  </p>
    <p class="fifth">Naonatu Team</p>
    <p class="sixth">$21,000 - $25,000 <br> Manchester,England <br> FREELANCE-PART </p>
    <p class="follow-two">+Follow</p>
</div>

    </div>
<div class="row">

  
<p class="start">Featured Companies</p>

<div class="cont-ten">
    <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/1.svg" alt="">
    <h3 class="h3"> Herman-Carter </h3>
    <p class="vac" >21 Vacancy</p>
</div>

<div class="cont-eleven">
    <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/2.svg" alt="">
    <h3 class="h3"> Funk Inc </h3>
    <p class="vac" >17 Vacancy</p>
</div>
<div class="cont-twelve">
  <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/3.svg" alt="">
  <h3 class="h3"> Simonis Ltd </h3>
  <p class="vac" >31 Vacancy</p>
</div>

<div class="cont-thirteen">
  <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/4.svg" alt="">
  <h3 class="h3"> Mosciski Inc </h3>
  <p class="vac" >7 Vacancy</p>
</div>

</div>

<div class="row">
  
  <div class="cont-fourteen">
    <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/5.svg" alt="">
    <h3 class="h3"> Williamson Inc </h3>
    <p class="vac" >21 Vacancy</p>
</div>

<div class="cont-fifteen">
    <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/6.svg" alt="">
    <h3 class="h3"> Donnelly Ltd</h3>
    <p class="vac" >17 Vacancy</p>
</div>
<div class="cont-sixteen">
  <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/7.svg" alt="">
  <h3 class="h3"> Bosco-Reilly </h3>
  <p class="vac" >31 Vacancy</p>
</div>

<div class="cont-seventeen">
  <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/8.svg" alt="">
  <h3 class="h3"> Kerluke Inc </h3>
  <p class="vac" >7 Vacancy</p>
</div>

</div>

<div class="row">
  <div class="cont-eighteen">
    <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/9.svg" alt="">
    <h3 class="h3"> Ferry Inc </h3>
    <p class="vac" >21 Vacancy</p>
</div>

<div class="cont-nineteen">
    <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/10.svg" alt="">
    <h3 class="h3"> Carroll-Walker </h3>
    <p class="vac" >17 Vacancy</p>
</div>
<div class="cont-twenty">
  <img class="ab" style="justify-content: center;" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/11.svg" alt="">
  <h3 class="h3"> Russel Ltd </h3>
  <p class="vac" >31 Vacancy</p>
</div>

<div class="cont-twenty-one">
  <img class="ab" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/12.svg" alt="">
  <h3 class="h3"> Murray-Marvin
  </h3>
  <p class="vac" >7 Vacancy</p>
</div>

</div>
  </div>