.image {

    border-radius: 50%;
  

}

.right-side {

    width: 400px;
    height: 700px;
    background-color: #f3f3f3;
  margin-left: 700px;
 transform: translate( -50px , -280px);
    border-radius: 20px;
}
    
.img-u {
    border-radius: 50%;
    border: purple solid 1px;
 transform: translate(120px , 50px);
}

.txt-a {
    transform: translateY(80px);
}


.txt-b {
    transform: translateY(80px);
}

.spinner-border {
margin-top: 100px;
margin-left: 70px;
}






   .photo {
        border: purple solid 5px;
            border-radius: 50%;
            font-size: 50px;
            transform: translate(115px , 60px);
        
        }

.input {
    background-color: #f3f3f3;
    border-radius: 25px;
    width: 300px;
    outline: none;
    height: 40px;
}

.storage {

    display: flex;
flex-direction: row;

}

.first {
    width: 300px;
       background-color: #f3f3f3;
       border-radius:15px;
       height: 130px;
      margin-right: 15px;
       border-bottom: green solid 4px;
       
    }
    
    .second {
    
        width: 300px;
      background-color: #f3f3f3;
       border-radius:15px;
       height: 130px;
    margin-right: 15px;
       border-bottom: #22c4ff solid 4px;
       
    }
    
    .third {
    
        width: 610px;
        background-color: #f3f3f3;
         border-radius:15px;
         height: 130px;
         border-bottom: orange solid 4px;
    transform: translate(5px,0px);
         margin-top: 15px;
    
    }

    .vacancy {

        width: 600px;
        background-color: #f3f3f3;
         border-radius:15px;
         height: 500px;
         margin-top: 15px;
         transform: translate(15px);
    }

    /* ------ Jobs ----- */
 
    .one {

        font-size: 30px;
      
    
    }
    
    .cont-one {
    
        width: 500px;
        height: 250px;
    background-color: #f3f3f3;
    margin-right: 25px;
        border-radius: 15px;
    
    }
    
    .cont-two {
    
        width: 500px;
        height: 250px;
       
        border-radius: 15px;
        background-color: #f3f3f3;
    
    }
    
    .sec {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
  
    }
    
    .thi {
    
        padding-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
    
    
    }
    
    .fir {
    
        padding-left: 50px;
 
        font-size: 20px;
        
    
    }
    
    .image-one {
    
     
    
    }
    
    .image-two {
    
        
     
    }
    
    .fourth {
    
        padding-left: 50px;
     
        font-size: 20px;
    
    }
    
    .fifth {
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 50px;
     
    }
    
    .sixth {
    
        padding-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
  
    
    }
    
    .follow-one {
    
        color: blueviolet;
        cursor: pointer;
        transform: translate(400px ,-200px);
 
    }
    
    .follow-two {
    
        color: blueviolet;
        cursor: pointer;
        transform: translate(400px ,-200px);
  
    }

    /* Featured Companies */

    .cont-ten {

        background-color: #f3f3f3;   
        width: 250px;
        height: 210px;
        border-radius: 15px;
margin-right: 15px;
align-items: center;
justify-content: center;
text-align: center;
       }
       
       .cont-eleven {
       
           background-color: #f3f3f3;   
           width: 250px;
           height: 210px;
           border-radius: 15px;
           align-items: center;
           justify-content: center;
           text-align: center;
    
       
          }

          .cont-twelve {

            background-color: #f3f3f3;   
            width: 250px;
            height: 210px;
            border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;

            
           }
           
           .cont-thirteen {
           
               background-color: #f3f3f3;   
               width: 250px;
               height: 210px;
               border-radius: 15px;
               align-items: center;
               justify-content: center;
               text-align: center;
        
           
              }

              .cont-fourteen {

                background-color: #f3f3f3;   
                width: 250px;
                height: 210px;
                border-radius: 15px;
        margin-right: 15px;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
                
               }
               
               .cont-fifteen {
               
                   background-color: #f3f3f3;   
                   width: 250px;
                   height: 210px;
                   border-radius: 15px;
                   margin-top: 30px;
                   align-items: center;
                   justify-content: center;
                   text-align: center;
               
                  }
        
                  .cont-sixteen {
        
                    background-color: #f3f3f3;   
                    width: 250px;
                    height: 210px;
                    border-radius: 15px;
            margin-right: 15px;
            margin-left: 15px;
            margin-top: 30px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                   }
                   
                   .cont-seventeen {
                   
                       background-color: #f3f3f3;   
                       width: 250px;
                       height: 210px;
                       border-radius: 15px;
                       margin-top: 30px;
                       align-items: center;
                       justify-content: center;
                       text-align: center;
                   
                      }
  
                      .cont-eighteen {

                        background-color: #f3f3f3;   
                        width: 250px;
                        height: 210px;
                        border-radius: 15px;
                margin-right: 15px;
                margin-top: 30px;
                align-items: center;
                justify-content: center;
                text-align: center;
                        
                       }
                       
                       .cont-nineteen {
                       
                           background-color: #f3f3f3;   
                           width: 250px;
                           height: 210px;
                           border-radius: 15px;
                           margin-top: 30px;
                           align-items: center;
                           justify-content: center;
                           text-align: center;
                       
                          }
                
                          .cont-twenty {
                
                            background-color: #f3f3f3;   
                            width: 250px;
                            height: 210px;
                            border-radius: 15px;
                    margin-right: 15px;
                    margin-left: 15px;
                    margin-top: 30px;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                           }
                           
                           .cont-twenty-one {
                           
                               background-color: #f3f3f3;   
                               width: 250px;
                               height: 210px;
                               border-radius: 15px;
                               margin-top: 30px;
                               align-items: center;
                               justify-content: center;
                               text-align: center;
                           
                              }


          .vac {
              color:mediumorchid;
          }

          .number-a {
              color: green;
              font-size: 50px;
          }

          .inside-a {
              color: grey;
              margin-bottom: 10px;
          }

          .number-b {
              color:#22c4ff ;
              font-size: 50px;
          }
          .inside-b {
              color: grey;
          }

          .number-c {
              color: orange;
              font-size: 50px;
          }

          .img-one {
              transform: translate(200px , -100px);
          }
          
          .img-two {
              transform: translate(200px , -100px);
          }

          .img-three {
              transform: translate(510px , -100px);
          }

         