<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Around You
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
          </div>
         
         <div class="col"></div>
          <input type="text" name="input" id="search" placeholder="Search by Title, Company or any jobs keyword">
          <button class="btn btn-danger" id="btn">FILTER</button>
    <button class="btn btn-info" id="btn-two">FIND</button>
        </div>
        

    
        <div class="row">
           <div class="col">
            <p>Suggestions</p>
           </div>
       
            <button id="btn-three" class="btn btn-primary">Freelance</button>
            <button id="btn-four" class="btn btn-primary active" >Part Time</button>
            <button id="btn-five" class="btn btn-primary">Fulltime</button>

           </div>
       <div class="row">
           <h5>Showing 246 Jobs Results </h5> <br>  <p>Based your preferences</p> 
           <div class="col"></div>
           <div class="col">
               
           
           </div>
           <div class="col">
            
              <label id="two" for="switch">Salary</label>
              <label class="switch"> 
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
                    <div class="dropdown" id="drop">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      Newest
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <li><button class="dropdown-item" type="button">Action</button></li>
                          <li><button class="dropdown-item" type="button">Another action</button></li>
                          <li><button class="dropdown-item" type="button">Something else here</button></li>
                        </ul>
                      </div>
           </div>
       </div>
                      <div class="row">
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/1.svg" alt="">
                        <h5 class="h-one">Herman Carter</h5>
                               <p class="p-one">Internet Service <br> Provider</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/2.svg" alt="">
                        <h5 class="h-one">Funk Inc</h5>
                               <p class="p-one">IT Department</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/3.svg" alt="">
                        <h5 class="h-one">Herman Carter</h5>
                               <p class="p-one">Creative Design <br> Agency </p>
                            </div>
                           
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/4.svg" alt="">
                        <h5 class="h-one">Mosciski Inc</h5>
                               <p class="p-one">Creative Design <br> Agency</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/2.svg" alt="">
                        <h5 class="h-one">Incubator Studios</h5>
                               <p class="p-one">Software House</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/6.svg" alt="">
                        <h5 class="h-one">Naonatu Inc.</h5>
                               <p class="p-one">Creative Design <br> Agency </p>
                            </div>
                           
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/7.svg" alt="">
                        <h5 class="h-one">ColoColo Studios</h5>
                               <p class="p-one">Internet Service <br> Provider</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/8.svg" alt="">
                        <h5 class="h-one">Funk Inc</h5>
                               <p class="p-one">IT Department</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/9.svg" alt="">
                        <h5 class="h-one">Mosciski Inc</h5>
                               <p class="p-one">Creative Design <br> Agency </p>
                            </div>
                           
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/10.svg" alt="">
                        <h5 class="h-one"> Highspeed <br> Studios</h5>
                        <p class="p-one">Creative Design <br> Agency </p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/11.svg" alt="">
                        <h5 class="h-one">Simonis Ltd</h5>
                        <p class="p-one">Internet Service <br> Provider</p>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="one text-center">
                                <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/12.svg" alt="">
                        <h5 class="h-one">Funk Inc</h5>
                        <p class="p-one">IT Department</p>
                            </div>
                           
                        </div>
                       
                    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      
        <div class="col">
            <div class="right-side text-center">
<img class="right-img" src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/medium/1.svg" alt="">
          <h2 class="text-in">Highspeed Studios</h2>
          <p class="text-inn"> Creative Design Agency </p>
          <button class="btn-follow">+Follow</button>
</div>
        </div>
    </div>
   
</div>