<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Around You
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
          </div>
         
         <div class="col"></div>
          <input type="text" name="input" id="search" placeholder="Search by Title, Company or any jobs keyword">
          <button class="btn btn-danger" id="btn">FILTER</button>
    <button class="btn btn-info" id="btn-two">FIND</button>
        </div>
    
        <div class="row">
           <div class="col">
            <p>Suggestions</p>
           </div>
       
            <button id="btn-three" class="btn btn-primary">Your Skill</button>
            <button id="btn-four" class="btn btn-primary">Software Engineer</button>
            <button id="btn-five" class="btn btn-primary">UX Designer</button>
            <button id="btn-six" class="btn btn-primary">Photographer</button>
            <button id="btn-seven" class="btn btn-primary">Digital Marketing</button>
           </div>
       <div class="row">
           <h5>Showing 246 Jobs Results </h5> <br>  <p>Based your preferences</p> 
           <div class="col"></div>
           <div class="col">
               <div class="storage">
                <label class="check">Fulltime
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="check-two">Freelance
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
               </div>
           
           </div>
           <div class="col">
               <label id="one" for="switch">Details</label>
            <label class="switch"> 
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <label id="two" for="switch">Salary</label>
              <label class="switch"> 
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
                    <div class="dropdown" id="drop">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      Newest
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <li><button class="dropdown-item" type="button">Action</button></li>
                          <li><button class="dropdown-item" type="button">Another action</button></li>
                          <li><button class="dropdown-item" type="button">Something else here</button></li>
                        </ul>
                      </div>
           </div>
       </div>
                      <div class="row">
                        <div class="col">
                            <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/1.svg" alt="">
                       <h5 class="text-one">Senior Ux <br> Designer</h5>
                       <p class="text-two">HighSpeed Studios</p>
                        </div>
                        <div class="col">
                            <img class="side-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/icsalary.svg" alt="">
                      <p class="text-three"> $14,000 - $25,000</p>
                      <p class="text-four"> Monthly Salary </p>
                        </div>

                        <div class="col">
                            <img class="side-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/iclocation.svg" alt="">
                       <p class="text-five"> London, England </p>
                       <p class="text-six">Location</p>
                       <button class="btn-custom"> Apply Now </button>
                        </div>
                    </div>

                    <!--  2nd row  -->
                    <div class="row">
                        <div class="col">
                            <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/2.svg" alt="">
                       <h5 class="text-one">Senior Ux <br> Designer</h5>
                       <p class="text-two">HighSpeed Studios</p>
                        </div>
                        <div class="col">
                            <img class="side-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/icsalary.svg" alt="">
                      <p class="text-three"> $14,000 - $25,000</p>
                      <p class="text-four"> Monthly Salary </p>
                        </div>

                        <div class="col">
                            <img class="side-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/iclocation.svg" alt="">
                       <p class="text-five"> London, England </p>
                       <p class="text-six">Location</p>
                       <button class="btn-custom"> Apply Now </button>
                        </div>
                    </div>
                     <!--  3rd row  -->
                     <div class="row">
                        <div class="col">
                            <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/3.svg" alt="">
                       <h5 class="text-one">Senior Ux <br> Designer</h5>
                       <p class="text-two">HighSpeed Studios</p>
                        </div>
                        <div class="col">
                            <img class="side-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/icsalary.svg" alt="">
                      <p class="text-three"> $14,000 - $25,000</p>
                      <p class="text-four"> Monthly Salary </p>
                        </div>

                        <div class="col">
                            <img class="side-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/iclocation.svg" alt="">
                       <p class="text-five"> London, England </p>
                       <p class="text-six">Location</p>
                       <button class="btn-custom"> Apply Now </button>
                        </div>
                    </div>
                    <!-- 4th row -->
                    <div class="row">
                        <div class="col">
                            <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/4.svg" alt="">
                       <h5 class="text-one">Senior Ux <br> Designer</h5>
                       <p class="text-two">HighSpeed Studios</p>
                        </div>
                        <div class="col">
                            <img class="side-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/icsalary.svg" alt="">
                      <p class="text-three"> $14,000 - $25,000</p>
                      <p class="text-four"> Monthly Salary </p>
                        </div>

                        <div class="col">
                            <img class="side-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/iclocation.svg" alt="">
                       <p class="text-five"> London, England </p>
                       <p class="text-six">Location</p>
                       <button class="btn-custom"> Apply Now </button>
                        </div>
                    </div>

                    <!-- 5th row -->

                    <div class="row">
                        <div class="col">
                            <img src="https://qerza.dexignzone.com/angular/demo/assets/images/companylogo/5.svg" alt="">
                       <h5 class="text-one">Senior Ux <br> Designer</h5>
                       <p class="text-two">HighSpeed Studios</p>
                        </div>
                        <div class="col">
                            <img class="side-two" src="https://qerza.dexignzone.com/angular/demo/assets/images/icsalary.svg" alt="">
                      <p class="text-three"> $14,000 - $25,000</p>
                      <p class="text-four"> Monthly Salary </p>
                        </div>

                        <div class="col">
                            <img class="side-three" src="https://qerza.dexignzone.com/angular/demo/assets/images/iclocation.svg" alt="">
                       <p class="text-five"> London, England </p>
                       <p class="text-six">Location</p>
                       <button class="btn-custom"> Apply Now </button>
                        </div>
                    </div>
</div>


      


