<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
          </div>
         
         <div class="col"></div>
          <input type="text" name="input" id="search" placeholder="Search by Title, Company or any jobs keyword">
          <button class="btn btn-danger" id="btn">FILTER</button>
    <button class="btn btn-info" id="btn-two">FIND</button>
        </div>
    
        <div class="row">
           <div class="col">
            <p>Suggestions</p>
           </div>
       
            <button id="btn-three" class="btn btn-primary">Your Skill</button>
            <button id="btn-four" class="btn btn-primary">Software Engineer</button>
            <button id="btn-five" class="btn btn-primary">UX Designer</button>
            <button id="btn-six" class="btn btn-primary">Photographer</button>
            <button id="btn-seven" class="btn btn-primary">Digital Marketing</button>
           </div>
       <div class="row">
           <h5>Showing 246 Jobs Results </h5> <br>  <p>Based your preferences</p> 
           
           <div class="col">
            <label class="check">Fulltime
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
              
              <label class="check-two">Freelance
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
           </div>
           

       </div>    
</div>


      


